
@media only screen and (max-width: 600px) {
    #namehd {
        position: fixed;
        top: 50px;
        left: 0px;
        float: left;
        width: 19.0em;
        background-color: #e27a67;
        padding: 5px;
        border-radius: 0 36px 360px 0;
    }

    h1 a {
        color: #ffffff;
        float: left;
        top: 0;
        margin-left: 170px;
        padding-bottom: 15px;
        font-size: 0.8em;
        font-size-adjust: initial;
    }
}

.bulletlist {
    padding-left: 26px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.bullet {
    line-height: 0.8px;
    max-width: 800px;
    margin: 2em auto;
    text-align: left;
}

#noteps {
    max-width: 800px;
    font-size: 0.9em;
    opacity: 0.7;
    text-align: center;
}

.side_b {
    position: fixed;
    display: block;
    top: 10px;
    left: 1%;
    height: auto;
    width: auto;
    opacity: 0.6;
}

.links {
    position: relative;
    top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 30px;
    height: 30px;    
}
#linkedin{
    background-image: url("res/linkedin_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    z-index: 100;
}

#github{
    background-image: url("res/github_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    z-index: 100;
}

#contacts {
    background-image: url("res/contacts_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    z-index: 100;
}

.contacts-container {
    position: relative;
    top: 0;
    padding: 5%;
    margin: auto;
    width: 500px;
    height: auto;

}
