/* Page Styles */
@import "style_thme.css";
@import "style_ip.css";
@import "style_pp.css";
@import "style_ap.css";

body {
    font-family: sans-serif;
    color: #565656;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

}

a {text-decoration: none;}

.navbar {
    position: fixed;
    float: right;
    top: 1%;
    right: 0;
    margin: auto;
    height: 50px;
    width: 300px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #302e2e;
    opacity: 0.7;
    z-index: 100;
}

/* .navbar ul {
    margin: auto;
}
 */

.navbar li {
    padding: 5px 10px;
    margin: auto;
    list-style: none;
    display: inline;
    color: #473d47;
    opacity: 0.9;
}

.navbar li:hover{ 
    font-style: oblique;
    font-weight: bold;
    border-style: dotted;
    border-color: #302e2e;
    opacity: 1;

}

.footer {
    position: fixed;
    display: inline;
    float: left;
    bottom: 1%;
    left: 0;
    padding: 5px;
    margin: auto;
    height: 22px;
    width: 300px;
    background-color: #ffffff;
    opacity: 0.7;
    text-align: center;
    color: #3d3a36;
    border-style: solid;
    border-color: #302e2e;
    z-index: -1;
}

footer a {
    color: #e38542;
}