@media only screen and (max-width: 800px) {
 
    body {
        font-family: sans-serif;
        color: #565656;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: absolute;
        word-break: break-all;
        top: 60px;
        bottom: 60px;
        left: 50%;
        right: 50%;
        width: 500px;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    
    }
    
    .contacts-container {
        position: absolute;
        top: 60px;
        bottom: 60px;
        left: 0;
        right: 0;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    
    }

    .navbar {
        position: fixed;
        float: right;
        top: 1%;
        right: 0;
        margin: auto;
        height: 20px;
        width: 250px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #302e2e;
        opacity: 0.7;
        z-index: 100;
    }
   
    .navbar li {
        padding: 2px 5px;
        font-size: 13px;
        margin: auto;
        list-style: none;
        display: inline;
        color: #473d47;
        opacity: 0.9;
    }

    .footer {
        position: fixed;
        display: inline;
        float: left;
        bottom: 1%;
        left: 0;
        padding: 5px;
        margin: auto;
        height: 15px;
        width: 220px;
        background-color: #ffffff;
        opacity: 0.7;
        font-size: 13px;
        text-align: center;
        color: #3d3a36;
        border-style: solid;
        border-color: #302e2e;
        z-index: -1;
    }

    .side_a {
        position: fixed;
        top: 0;
        left:1%;
        height: 200px;
        width: 30px;
        opacity: 0.7;
        background-color: #ffffff;
        border-style: solid;
        border-color: #302e2e;
    }
    
    .side_b {
        position: fixed;
        display: block;
        bottom: 0;
        right: 1%;
        height: 90px;
        width: 35px;
        opacity: 0.6;
        background-color: #ffffff;
        border-style: solid;
        border-color: #302e2e;
    }
    
    .links {
        position: relative;
        top: 3px;
        padding-bottom: 3px;
        margin: auto;
        width: 25px;
        height: 25px;    
    }

    #sidetop p {
        position: relative;
        transform: rotate(-90deg);
        font-stretch: expanded;
        font-weight: bold;
        font-size: 13px;
        color: #302e2e;
        top: 40%;
        opacity: 0.9;
        z-index: 20;
        animation-name: sidetext;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }   

    @keyframes sidetext {
        0% {
            opacity: 0.0;
        }
    
        70% {
            opacity: 0.0;
        }
    
        100% {
            opacity: 0.9;
        }
    }

    #sidetop {
        animation-name: sidetopanim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    
    }
    
    @keyframes sidetopanim {
        0% {
            height: 0;
        }
    
        80% {
            height: 300px;    
        }
    
        120% {
            height: 200px;
        }
    
    }

    #footerid {
        animation-name: footeranim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    
    }
    
    @keyframes footeranim {
        0% {
            width: 0;
        }
    
        80% {
            width: 280px;
        }
    
        100% {
            width: 220px;
        }
    }

    #sidebottom {
        animation-name: sidebotanim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    
    }
    
    @keyframes sidebotanim {
        0% {
            height: 0;
        }
    
        80% {
            height: 130px;
        }
    
        100% {
            height: 90px;
        }
    }

    #animlogo {
        position: fixed;
        left: 0;
        right: 0;
        top: 220px;
        width: 250px;
        height: 250px;
        background-image: url("res/new_rmv_logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 150px;
        filter: invert(100%) brightness(200%);
        animation-name: myanim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    
    }
    
    @keyframes myanim {
    
        0% {
            top: 120px;
            filter: invert(100%) brightness(200%);
            opacity: 0.7;
        }
    
        25% {
            top: 380px;
            width: 180px;
            height: 180px;
            border-radius: 150px;
            filter: invert(0%) brightness(100%);
            opacity: 0.8;
        }
    
        75% {
            top: 300px;
            width: 250px;
            height: 250px;
            border-radius: 150px;
            filter: invert(90%) brightness(200%);
        }
    
        100% {
            top: 220px;
            width: 250px;
            height: 250px;
            border-radius: 150px;
            filter: invert(80%) brightness(200%);
        }
    
    }

    #animtitle {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 430px;
        font-size: 30px;
        font-family: Calibri; 
        text-align: center;
        animation-name: myanimtitle;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        opacity: 0.9;
        z-index: -1;
    
    }
    
    @keyframes myanimtitle {
        0% {
            top: 580px;
            filter: invert(100%) brightness(200%);
            opacity: 0.25;
        }
    
        50% {
            top: 500px;
            filter: invert(100%) brightness(200%);
            opacity: 0.5;
        }
    
        70% {
            top: 480px;
            filter: invert(80%) brightness(200%);
            opacity: 0.7;
        }
    
        120% {
            top: 430px;
        }
    
    }

    #navbarid{
        animation-name: navbaranim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    
    @keyframes navbaranim {
        0% {
            opacity: 0.0;
            width: 0px;
        }
    
        80% {
            opacity: 0.7;
            width: 280px;
        }
    
        100% {
            width: 250px;
        }
    }

    p {
        line-height: 1.5;
    }

    #img {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 150px;
        height: 150px;
        background-image: url("res/id.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 150px;
    }

    .sp {
        height: 5px;
    }
    
    .sph {
        height: 25px;
    }



}