
@media only screen and (max-width: 600px) {
    #namehd {
        position: fixed;
        top: 50px;
        left: 0px;
        float: left;
        width: 19.0em;
        background-color: #e27a67;
        padding: 5px;
        border-radius: 0 36px 360px 0;
    }

    h1 a {
        color: #ffffff;
        float: left;
        top: 0;
        margin-left: 170px;
        padding-bottom: 15px;
        font-size: 0.8em;
        font-size-adjust: initial;
    }
}

.bulletlist {
    padding-left: 26px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.bullet {
    line-height: 0.8px;
    max-width: 800px;
    margin: 2em auto;
    text-align: left;
}

#noteps {
    max-width: 800px;
    font-size: 0.9em;
    opacity: 0.7;
    text-align: center;
}

.side_a {
    position: fixed;
    top: 0;
    left:1%;
    height: 300px;
    width: 40px;
    opacity: 0.7;
    background-color: #ffffff;
    border-style: solid;
    border-color: #302e2e;
}

.side_b {
    position: fixed;
    display: block;
    bottom: 0;
    right: 1%;
    height: 110px;
    width: 40px;
    opacity: 0.6;
    background-color: #ffffff;
    border-style: solid;
    border-color: #302e2e;
}

.links {
    position: relative;
    top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 30px;
    height: 30px;    
}
#linkedin{
    background-image: url("res/linkedin_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    z-index: 100;
}

#github{
    background-image: url("res/github_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    z-index: 100;
}

#contacts {
    background-image: url("res/contacts_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    z-index: 100;
}

#sidetop p {
    position: relative;
    transform: rotate(-90deg);
    font-stretch: expanded;
    font-weight: bold;
    color: #302e2e;
    top: 40%;
    opacity: 0.9;
    z-index: 20;
    animation-name: sidetext;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes sidetext {
    0% {
        opacity: 0.0;
    }

    70% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.9;
    }
}


#sidetop {
    animation-name: sidetopanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

@keyframes sidetopanim {
    0% {
        height: 0;
    }

    80% {
        height: 400px;    
    }

    120% {
        height: 300px;
    }

}


#footerid {
    animation-name: footeranim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

@keyframes footeranim {
    0% {
        width: 0;
    }

    80% {
        width: 35 0px;
    }

    100% {
        width: 300px;
    }
}

#footercont {
    animation-name: footercontanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

@keyframes footercontanim {
    0% {
        opacity: 0.0;
    }

    80% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.7;
    }
}

#sidebottom {
    animation-name: sidebotanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

@keyframes sidebotanim {
    0% {
        height: 0;
    }

    80% {
        height: 150px;
    }

    100% {
        height: 110px;
    }
}

#myBtn {
    display: none;
    position: fixed;
    outline: none;
    bottom: 80px;
    right: 100px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(39, 36, 36);
    border-radius: 150px;
    opacity: 0.5;
    z-index: 80;
}

.arrow-up {
    position: relative;
    top: 4px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    opacity: 0.5;
    z-index: 81;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


#myBtn:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #302e2e;
    background-color: #474444;
    opacity: 0.5;

  }


.footercontact {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1%;
    padding: 5px;
    height: 22px;
    width: auto;
    background-color: #ffffff;
    opacity: 0.9;
    text-align: center;
    color: #3d3a36;
    border-style: solid;
    border-color: #302e2e;
    z-index: -1;
}

.contactlinks a {
    height: 120px;
    width: auto;
    color: #3d3a36;

}

.contact-logo {
    width: 50px;
    height: 50px;    
}

#rymvlogo {
    position: relative;
    bottom: 100px;
    right: 0;
    margin-left: auto;
    width: 200px;
    height: 200px;
    background-image: url("res/new_rmv_logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 150px;
    opacity: 0.5;
}